<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <b>hey i am bold</b>
    <h2>This is index page</h2>

    <!-- we cannot see the post request directly for this we have to use html file to see ou postrequest in web -->
    <form action="http://localhost:3000/" method="POST">
        <button type="submit">Send POST Request</button>
    </form>

</body>
</html>